@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TANLE</title>
    <link rel="short icon" href="~/Images/TLicon.ico" />
    <link rel="stylesheet" href="~/JS/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="~/JS/font.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/Lightbox/lightbox.min.css" />
    <link rel="stylesheet" href="~/aos-library/aos.css" />
    <link href="~/Style.css" rel="stylesheet" />
</head>
<body style="overflow-x: hidden">
    <style>
        .backToTop {
            position: fixed;
            bottom: 20px;
            right: 15px;
            opacity: 0;
            visibility: hidden;
            z-index: 1;
        }

            .backToTop img {
                width: 45px;
                height: 45px;
            }

        .cd-top--is-visible {
            visibility: visible;
            opacity: 1;
        }

        input#TimKiem {
            font-size: 18px;
            padding: 10px 10px 10px 5px;
            display: block;
            width: 320px;
            border: none;
            border-bottom: 1px solid #000;
            background-color: transparent;
            color: #000;
        }


        input:focus {
            outline: none;
        }

        /* LABEL ======================================= */
        label#find {
            color: #999;
            font-size: 18px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 10px;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
        }

        /* active state */
        input#TimKiem:focus ~ label#find, input#TimKiem:valid ~ label#find {
            top: -20px;
            font-size: 14px;
            color: #000 !important;
        }

        .btnTimKiem {
            border-radius: 6px;
            cursor: pointer;
            color: #ffffff;
            background-size: 200%;
            padding: 13px;
            width: 200px;
            transition: all .5s;
            outline: none;
            border: none;
        }

            .btnTimKiem:focus {
                outline: none;
            }

        .btn000 {
            background-image: linear-gradient(to left,#33d9b2,#218c74,#33d9b2);
        }

        .btnTimKiem:hover {
            background-position: right;
        }
    </style>
    <div id="loading" style="display:none"><img src="~/Images/loadingPage.gif" /></div>
    
    <header class="header__navbar fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #000">
            <a class="navbar-brand" href="@Url.Action("TrangChu", "Home")">
                <img src="~/Images/TanLe.png" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto d-flex justify-content-center align-items-center">
                    <li class="nav-item">
                        @Html.ActionLink("TRANG CHỦ", "TrangChu", "Home")
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("GIỚI THIỆU", "GioiThieu", "Home")
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("SẢN PHẨM", "SanPhamPartial", "SanPham")
                    </li>
                    @if (Session["taikhoan"] != null) {
                        <li class="nav-item">
                            @Html.ActionLink("LỊCH SỬ MUA HÀNG", "LichSu", "User")
                        </li>
                        <li style="width: 200px;" class="text-right text-white position-relative login">
                            <span class="mr-2">Xin chào</span><span class="text-white" style="text-decoration: none; cursor: pointer">@Session["User"]</span>
                            <div class="optionLogin">
                                <a href="@Url.Action("DangXuat", "User")">Đăng xuất</a>
                            </div>
                        </li>
                    }
                    else {
                        <li class="nav-item position-relative login">
                            <span class="text-white font-weight-bold" style="text-decoration: none; cursor: pointer">ĐĂNG NHẬP</span>
                            <div class="optionLogin">
                                <a href="@Url.Action("DangNhap","DangNhap")">Đăng nhập quyền Admin</a>
                                <a href="@Url.Action("DangNhap", "User")">Đăng nhập quyền Khách Hàng</a>
                            </div>
                        </li>
                        <li class="nav-item position-relative login">
                            @Html.Action("Form", "Home")
                        </li>
                    }
                    <li class="nav-item lastLi text-center position-relative GH">
                        @Html.Action("GioHangPartial", "GioHang")
                        <ul class="gioHang">
                            <li class="nav-item">
                                @Html.Action("ViewGioHangHover", "GioHang")
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="label">
    </div>
    <div class="py-5 container__custom">
        <div class="row" id="renderSearch">
            @RenderBody()
        </div>
    </div>
    <hr />
    @Html.Action("SanPhamTuongTu", "SanPham")
    <footer class="text-white">
        <div class="container__custom">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/Images/TanLe.png" style="width: 190px" />
                    <p>1000 Phạm Văn Đồng,P.Hiệp Bình Chánh,TP Thủ Đức</p>
                    <p>Email: Letomlhp@gmail.com</p>
                    <p>Điện thoại: 0399985400</p>
                    <p>Instagram: Votanlepy</p>
                </div>
                <div class="col-md-3">
                    <h4>VỀ CHÚNG TÔI</h4>
                    <a href="@Url.Action("GioiThieu")"><p>Tổng quan về công ty</p></a>
                    <p> + Lịch sử hình thành</p>
                    <p> + Tầm nhìn – Sứ mệnh</p>
                    <p> + Câu chuyện thương hiệu</p>
                </div>
                <div class="col-md-3">
                    <h4>HỖ TRỢ KHÁCH HÀNG</h4>
                    <p>Phiếu quà tặng & Thẻ VIP</p>
                    <a href="https://baoholongchau.com/tin-tuc/huong-dan-chon-size-quan-ao/"><p>Hướng dẫn chọn size</p></a>
                    <a href="https://luvinus.com/cong-thuc-cat-may/cach-phoi-mau-quan-ao/"><p>Hướng dẫn phối màu quần áo</p></a>
                </div>
                <div class="col-md-3">
                    <h4>LIÊN HỆ TRỰC TIẾP THÔNG QUA</h4>
                    <a href="https://www.facebook.com/tanle.utc2.2000/"><i class="fab fa-facebook-f pr-4"></i></a>
                    <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJqSwKVJBstxthftSxgGDrSkFkDzdFWQtVBQFwZkStLvQJrKjSpfFSTDtzlcDqtCQPwkBsB"><i class="fab fa-google-plus-g"></i></a>
                </div>
                <div class="col-md-3">
                    <h4>ĐĂNG KÝ NHẬN BẢN TIN</h4>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Địa chỉ Email" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">GỬI</span>
                        </div>
                    </div>
                    <p>Đăng ký thành viên với chúng tôi để nhận email về sản phẩm mới, khuyến mãi đặc biệt và các sự kiện độc đáo.</p>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright text-center py-2 text-white">
        <p class="m-0">
            © All rights reserved. Contact us
            <img src="~/Images/TanLe.png" style="width: 83px; height: 30px;" />
        </p>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="min-width: 1150px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Giỏ hàng của bạn</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.Action("GioHang", "GioHang")
                </div>
                <div class="modal-footer">
                    <a href="@Url.Action("DatHang", "GioHang")" class="btn btn-outline-danger" id="datHang">Đặt hàng</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="popupLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 990px">
            <div class="modal-content">
                <div class="modal-header" style="border-bottom: none">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modalContentForm d-flex w-100 p-0">
                    <div class="modalLeft">
                        <h2>Tạo tài khoản</h2>
                        <p>
                            Tạo tài khoản để theo dõi đơn hàng, lưu danh sách sản phẩm yêu thích, nhận nhiều ưu đãi hấp dẫn.
                        </p>
                        <img src="~/Images/fashionGirl.png" class="img-fluid mt-3" />
                    </div>
                    <div class="modalRight">
                        @Html.Action("DangKy", "User")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="cd-top text-replace js-cd-top backToTop">
        <img src="~/Images/to-top.png" />
    </a>
    <script src="~/JS/jquery-3.5.1.min.js"></script>
    <script src="~/JS/popper.min.js"></script>
    <script src="~/JS/bootstrap.min.js"></script>
    <script src="~/JS/jquery.waypoints.js"></script>
    <script src="~/JS/jquery.countup.min.js"></script>
    <script>
        $('.counter').countUp();
    </script>
    <script src="~/Lightbox/lightbox.min.js"></script>
    <script src="~/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            autoplay: true,
            autoplayHoverPause: true,
            autoplayTimeout: 3000,
            dots: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    </script>
    <script src="~/aos-library/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script src="~/BackToTop/util.js"></script>
    <script src="~/BackToTop/main.js"></script>
    <script src="~/JS/jquery.validate.min.js"></script>
    <script src="~/JS/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/JS/sweetalert2@10.js"></script>
    <script>
        document.querySelector(".login").onclick = function () {
            document.querySelector(".optionLogin").classList.toggle("showOption");
        }
    </script>
    @if (TempData["ErrorMessage"] != null) {
        <script>
            var errorText = "@Html.Raw(TempData["ErrorMessage"])";
            window.onload = function () {
                Swal.fire({
                    title: 'Thông báo!',
                    html: errorText + "<br />" + "Xin quý khách thông cảm 😣",
                    icon: 'error',
                })
            }
        </script>
    }
    <script>
        $(".btnHuyDon").click(function () {
            var getID = $(this).data("id");
            var getIDHD = $(this).data("mahd");
            Swal.fire({
                title: 'Thông báo',
                text: "Bạn có chắc chắn huỷ đơn hàng này không?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Huỷ đơn'
            }).then(function (result) {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url: 'HuyDonHang',
                        data: { maSP: getID, maHD: getIDHD },
                        success: function (result) {
                            Swal.fire({
                                title: 'Thông báo',
                                text: "Đơn hàng của bạn đã được huỷ",
                                icon: 'success'
                            }).then(function (result) {
                                location.reload();
                            })
                        }
                    })
                }
            })
        })
    </script>
    @if (TempData["Message"] != null) {
        <script>
            var errorText = "@Html.Raw(TempData["Message"])";
            window.onload = function () {
                Swal.fire({
                    title: 'Thông báo!',
                    text: errorText,
                    icon: 'error',
                })
            }
        </script>
    }
    @if (TempData["ErrorUserName"] != null) {
        <script>
            window.onload = function () {
                Swal.fire({
                    title: 'Thông báo!',
                    text: '@Html.Raw(TempData["ErrorUserName"])',
                    icon: 'error',
                }).then(function (result) {
                    $("#popupLogin").modal("show");
                })
            }
        </script>
    }
    <script>
        $(".btnTimKiem").click(function () {
            var dataSearch = $("#TimKiem").val();
            if (dataSearch.trim() === "" || dataSearch.trim() == null) {
                e.preventDefault();
            } else {
                $("#loading").show();
                $.ajax({
                    type: 'POST',
                    data: { tenSP: dataSearch },
                    success: function (result) {
                        $("#renderSearch").html(result);
                        $("#loading").fadeOut('fast');
                    }
                })
            }
        })
    </script>
</body>
</html>
